z-display{
  position: absolute;

  top: 100px;


  width:inherit;
  height:300px;
  overflow-y:scroll;
}

td{
  border: 2px solid;  padding: 5px;
  border-color: grey;
  text-align: center;
  font-size: 15px;
}
