z-filters{
  position: absolute;

  width:490px;
  height:70px;
}


input.filter{
  width:100px;
}

#pf1{  position: relative; left:50px;}
#swapPlatButton{ position: relative; left: 100px;}
#pf2{  position: relative; left:147px;}
