z-select{
  position: absolute;

  left:600px;

  width:180px;
  height:100px;
}

button.selector{width:100px; height:40px;text-align: center;font-size: 15px;}

#ps{
  position: relative;
}

#ms{
  position: relative;

  top:5px;
}
